<h2 class="title is-4">Treinos</h2>
<%= render "search_form"%>
<table class="tabelas_treino">
  <thead>
    <th>Frango</th>
    <th>Treino</th>
    <th>Peso Atual</th>
    <% @length_weigth.times do %>
      <th>Pesos Anteriores</th>
    <% end %>
  </thead>
  <tbody>
    <% @user_finder.each do |u| %>
      <% @user_finder = Training.where(user_id: u.id ) %>
      <% @user_finder.each do |t| %>
        <% @user_name = User.find(t.user_id).username %>
        <tr>
          <td><%= @user_name %></td>
          <td><%= t.name_training %></td>
          <td><%= t.weigth %></td>
          <% @counting = 0 %>
          <% @current_weigth.where(training_id: t.id).each do |w| %>
            <td><%= w.weigth %></td>
            <% @counting += 1 %>
          <% end %>
          <% i = @length_weigth - @counting %>
          <%i.times do %>
            <td>N/A</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
