<table class="tabelas_treino">
  <thead>
    <th>Frango:</th>
    <th>Rotina:</th>
    <th>Exercício:</th>
    <th>Peso:</th>
    <% @length_weigth.times do %>
      <th>Pesos Anteriores:</th>
    <% end %>
    <th>Editar:</th>
    <th>Deletar:</th>
  </thead>
  <tbody>
    <% @training.each do |t| %>
    <% routine = Routine.find(t.routine_id) %>
    <tr>
      <td><%= current_user.username %></td>
      <td><%= routine.routine_select %></td>
      <td><%= t.name_training %></td>
      <td><%= t.weigth %></td>
      <% @counting = 0 %>
      <% @current_weigth.where(training_id: t.id).each do |w| %>
      <td><%= w.weigth %></td>
      <% @counting += 1 %>
      <% end %>
      <% i = @length_weigth - @counting %>
      <%i.times do %>
        <td>N/A</td>
      <% end %>
      <td> <%= link_to "Editar Peso", edit_training_url(t.id), class: "is-pulled-right" %></td>
      <td> <%= link_to 'Deletar', trainings_delete_path(t.id), method: :delete %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
