<table class="table">
  <thead>
    <th>Frango:</th>
    <th>Rotina:</th>
    <th>Exercício:</th>
    <th>Peso:</th>
    <% @current_weigth.each do %>
    <th>Pesos Anteriores:</th>
    <% end %>
    <th>Editar:</th>
    <th>Deletar:</th>
  </thead>
  <tbody>
    <% @training.each do |t| %>
    <% routine = Routine.find(t.routine_id) %>
    <tr>
      <td><%= current_user.username %></td>
      <td><%= routine.routine_select %></td>
      <td><%= t.name_training %></td>
      <td><%= t.weigth %></td>
      <% @current_weigth.each do |w| %>
      <td><%= w.weigth %></td>
      <% end %>
      <td> <%= link_to "Editar Peso", edit_training_url(t.id), class: "is-pulled-right" %></td>
      <td> <%= link_to 'Deletar', trainings_delete_path(t.id), method: :delete %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
