<%= form_for :weigth, url: weigths_path do |form| %>
    <div class="field">
        <%= form.label :training_id, "Treino:", class: "label" %>
        <%= form.select(:training_id, Training.all.map { |v| [ v.name_training, v.id ] }) %>
    </div>

    <div class="field">
      <%= form.label :weigth, "Peso", class: "label" %>
      <%= form.number_field :weigth, step: :any %>
    </div>
    <div class="field">
      <%= form.submit "Salvar", class: "button is-link" %>
    </div>
<% end %>
