<%= form_for @measure do |form| %>
    <div class="field">
      <%= form.label :name_muscle, "Ãrea", class: "label" %>
      <%= form.text_field :name_muscle, step: :any %>
    </div>
    <div class="field">
      <%= form.label :new_measure, "Medida", class: "label" %>
      <%= form.number_field :new_measure, step: :any %>
    </div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= form.submit "Salvar", class: "button is-link" %>
    </div>
<% end %>
