<h2 class="title is-4">Treinos</h2>

<%= search_form_for(@q, url: "/measures", method: :get) do |f| %>
    <%= f.label :username_cont %>
    <%= f.search_field :username_cont %>
    <%= f.submit %>
<% end %>


<table class="tabelas_treino">
  <thead>
    <th>Frango</th>
    <th>Área</th>
    <th>Medida Atual</th>
    <% @current_measure.each do %>
    <th>Medidas Anteriores</th>
    <% end %>
    <% if !current_user.nil? %>
      <th>Alterar Ultima Medida</th>
      <th>Deletar Medida</th>
    <% end %>
  </thead>
  <tbody>
    <% @user_finder.each do |u| %>
      <% @user_finder = Measure.where(user_id: u.id ) %>
      <% @user_finder.each do |m| %>
        <% @user_name = User.find(m.user_id).username %>
        <tr>
          <td><%= @user_name %></td>
          <td><%= m.name_muscle %></td>
          <td><%= m.new_measure %></td>
          <% @current_measure.each do |w| %>
          <td><%= w.measure_new %></td>
          <% end %>
          <% if current_user.username == @user_name %>
            <td> <%= link_to "Editar", edit_measure_path(m.id) %> </td>
            <td> <%= link_to "Deletar", measures_delete_path(m.id) %> </td>
          <% else %>
            <td>Não é seu usuário!</td>
            <td>Não é seu usuário!</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
