<!DOCTYPE html>
<html class="html">
    <%= stylesheet_link_tag "applications", "data-turbo-track": "reload" %>
    <body class="body">
        <form>
            <section id="content">
                <h3>Wtf</h3>
                <p>O que krls tu ta fznd aqui???????</p>

                <h3>Bom, jรก q tu ta aqui,  veja: </h3>
                <ul>
                <li><%= link_to "Rafael de bikini", "https://www.youtube.com/watch?v=dQw4w9WgXcQ" %></li>
                <li><%= link_to "Big Hard Paul", "https://www.youtube.com/@paulodurao9426" %></li>
                <li><%= link_to "Como mandar felipe e ollie", "https://www.youtube.com/watch?v=0nCyevYbtM8" %></li>
                </ul>
                <h3>FRASE DO DIA:</h3>
                <p>NANDO GAY</p>
            </section>
        </form>

        <footer>
            <p>&copy; 2023 Olympia Tribess. Todos os direitos reservados.</p>
        </footer>

        <%= javascript_include_tag('application.js') %>
    </body>
</html>
